.bland-chart {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Myriad Pro", Myriad, Geneva, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  max-width: 100%;
  overflow: auto;
  position: relative;
}
.bland-chart .chart-yaxes,
.bland-chart .chart-overviewport,
.bland-chart .chart-yaxis {
  display: inline-block;
  vertical-align: top;
}
.bland-chart .chart-yaxes .chart-yaxis {
  height: 100%;
  position: relative;
  padding: 0 10px 0 2em;
  margin: 0;
  text-align: right;
  border-right: 1px solid black;
}
.bland-chart .chart-yaxes .chart-yaxis .yaxis-label {
  -moz-transform: scale(1) rotate(-90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(-90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(-90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  position: absolute;
  top: 45%;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
}
.bland-chart .chart-yaxes .chart-yaxis ul {
  padding: 0 10px;
  list-style-type: none;
}
.bland-chart .chart-yaxes .chart-yaxis ul .chart-yaxis-marker {
  position: absolute;
  right: 0;
}
.bland-chart .chart-yaxes .chart-yaxis ul .chart-yaxis-marker.top .label {
  top: 0;
}
.bland-chart .chart-yaxes .chart-yaxis ul .chart-yaxis-marker.top .mark {
  vertical-align: top;
}
.bland-chart .chart-yaxes .chart-yaxis ul .chart-yaxis-marker.bottom .label {
  top: 0;
}
.bland-chart .chart-yaxes .chart-yaxis ul .chart-yaxis-marker .label {
  position: relative;
  top: 0.5em;
}
.bland-chart .chart-yaxes .chart-yaxis ul .chart-yaxis-marker .mark {
  display: inline-block;
  vertical-align: bottom;
  height: 1px;
  width: 10px;
  background-color: black;
}
.bland-chart .chart-xaxis ul {
  box-shadow: 0 -1px 0 0 #000000;
  position: relative;
  height: 2em;
  margin: 0;
  line-height: 2em;
  list-style-type: none;
}
.bland-chart .chart-xaxis ul .mark {
  padding: 0 3px;
  position: absolute;
  box-shadow: inset 1px 0 0 black;
}
.bland-chart .chart-xaxis ul .mark.right {
  box-shadow: inset -1px 0 0 #000000;
}
.bland-chart .chart-overviewport {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
}
.bland-chart .chart-overviewport .chart-resizer {
  position: absolute;
  bottom: 1px;
  right: 1px;
  cursor: se-resize;
  z-index: 2;
  height: 17px;
  width: 17px;
  background-color: #EEE;
  border-radius: 5px 0 0 0;
  box-shadow: inset 0 -1px 12px -5px, 0 0 0 1px #aaaaaa;
  border: none;
}
.bland-chart .chart-overviewport .chart-resizer .resizer-grip {
  height: 1px;
  width: 70%;
  height: 0px;
  margin: 2px auto;
  border-color: #AAA;
  border-width: 1px 0 0;
  border-style: solid;
  position: relative;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}
.bland-chart .chart-overviewport .chart-resizer .resizer-grip:nth-child(1) {
  left: -2px;
  top: 4px;
  width: 60%;
}
.bland-chart .chart-overviewport .chart-resizer .resizer-grip:nth-child(2) {
  top: 4px;
  width: 80%;
  left: 0px;
}
.bland-chart .chart-overviewport .chart-resizer .resizer-grip:nth-child(3) {
  top: 3px;
  left: 3px;
  width: 61%;
}
.bland-chart .chart-viewport {
  position: relative;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.bland-chart .chart-viewport .chart-pointinfo {
  position: absolute;
  background: #FFF;
  z-index: 1;
  box-shadow: inset 0 -1px 46px -7px rgba(0, 0, 0, 0.1), 0 1px 7px -2px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 0 white;
  letter-spacing: 0.1em;
  padding: 0 10px;
  border-radius: 5px;
}
.bland-chart .chart-viewport .chart-pointinfo h3,
.bland-chart .chart-viewport .chart-pointinfo p {
  margin: 5px 0;
}
.bland-chart .chart-viewport path.gridline {
  stroke-width: 1px;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.1);
}
.bland-chart .chart-viewport path.plotline {
  stroke-width: 3px;
  fill: none;
}
.bland-chart .chart-viewport path.plotline_ds {
  stroke-width: 4px;
  fill: none;
  stroke: rgba(0, 0, 0, 0.2);
}
.bland-chart .chart-viewport rect.plot-helper {
  stroke: rgba(0, 0, 0, 0);
  fill: rgba(0, 0, 0, 0);
}
.bland-chart .chart-viewport circle.plotpoint {
  fill: #FFFFFF;
  z-index: 1;
  stroke-width: 2px;
}
.bland-chart .chart-viewport circle.plotpoint:hover {
  stroke-width: 4px;
}
.bland-chart .chart-overview {
  overflow: hidden;
  box-shadow: inset 0 0 0 1px black;
}
