.bland-chart {
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Myriad Pro", Myriad, Geneva, Arial, "Lucida Grande", sans-serif;
	font-size:12px;
	
	.chart-yaxes, .chart-overviewport,.chart-yaxis {
		display:inline-block;
		vertical-align:top;
	}
	
	.chart-yaxes {
		
		.chart-yaxis {
			height:100%;
			position:relative;
			padding:0 10px;
			margin:0;
			text-align:right;
			border-right:1px solid black;
			
			.yaxis-label {
				-moz-transform: scale(1) rotate(-90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
				-webkit-transform: scale(1) rotate(-90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
				transform: scale(1) rotate(-90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
				position: absolute;
				top: 45%;
				left: 0;
				padding: 0;
				margin: 0;
				font-weight:bold;
			}
			
			ul {
				padding:0 10px;
				list-style-type: none;
				.chart-yaxis-marker {
					position:absolute;
					right:0;

					&.top {
						.label {
							top: 0;
						}
						.mark {
							vertical-align:top;
						}
					}

					&.bottom {
						.label {
							top: 0;
						}
					}


					.label {
						position:relative;
						top:0.5em;
					}
					.mark {
						display:inline-block;
						vertical-align:bottom;
						height:1px;
						width:10px;
						background-color:black;
					}
				}
			}
			
		}
		
	}
	.chart-xaxis ul {
		box-shadow:0 -1px 0 0 black;
		position:relative;
		height:2em;
		margin:0;
		line-height:2em;
		list-style-type: none;
		.mark {
			padding:0 3px;
			position:absolute;
			box-shadow: inset 1px 0 0 black;
			&.right {
				box-shadow: inset -1px 0 0 black;
			}
		}
	}
	.chart-viewport {
		position:relative;
		border-right:1px solid black;
		border-top:1px solid black;
		border-bottom:1px solid black;
		
		.chart-pointinfo {
			position:absolute;
			background:#FFF;
			z-index: 1;
			box-shadow: 
				inset 0 -1px 46px -7px rgba(0, 0, 0, 0.1), 
				0 1px 7px -2px rgba(0, 0, 0, 0.5);
			text-shadow:0 1px 0 white;
			letter-spacing: 0.1em;
			padding:0 10px;
			border-radius:5px;
			h3, p {
				margin:5px 0;
			}
		}
		
		path.gridline {
			stroke-width: 1px;
			shape-rendering:crispEdges;
			stroke:rgba(0,0,0,0.1);
		}
		
		path.plotline {
			stroke-width: 3px;
			fill:none;
		}
		
		path.plotline_ds {
			stroke-width: 4px;
			fill:none;
			stroke: rgba(0, 0, 0, 0.2);
		}
		rect.plot-helper {
			stroke: 0;
			fill: rgba(0,0,0,0);
		}
		circle.plotpoint {
			fill:#FFFFFF;
			z-index:1;
			stroke-width:2px;
			&:hover {
				stroke-width:4px;
			}
		}
	}
	.chart-overview {
		overflow: hidden;
	}
}