.bland-chart {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Myriad Pro", Myriad, Geneva, Arial, "Lucida Grande", sans-serif;
  font-size: 12px;
  max-width: 100%;
  overflow: auto;
}
.bland-chart .chart-yaxes,
.bland-chart .chart-overviewport,
.bland-chart .chart-yaxis {
  display: inline-block;
  vertical-align: top;
}
.bland-chart .chart-yaxes .chart-yaxis {
  height: 100%;
  position: relative;
  padding: 0 10px 0 2em;
  margin: 0;
  text-align: right;
  border-right: 1px solid black;
}
.bland-chart .chart-yaxes .chart-yaxis .yaxis-label {
  -moz-transform: scale(1) rotate(-90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(-90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(-90deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  position: absolute;
  top: 45%;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 13px;
  line-height: 13px;
}
.bland-chart .chart-yaxes .chart-yaxis ul {
  padding: 0 10px;
  list-style-type: none;
}
.bland-chart .chart-yaxes .chart-yaxis ul .chart-yaxis-marker {
  position: absolute;
  right: 0;
}
.bland-chart .chart-yaxes .chart-yaxis ul .chart-yaxis-marker.top .label {
  top: 0;
}
.bland-chart .chart-yaxes .chart-yaxis ul .chart-yaxis-marker.top .mark {
  vertical-align: top;
}
.bland-chart .chart-yaxes .chart-yaxis ul .chart-yaxis-marker.bottom .label {
  top: 0;
}
.bland-chart .chart-yaxes .chart-yaxis ul .chart-yaxis-marker .label {
  position: relative;
  top: 0.5em;
}
.bland-chart .chart-yaxes .chart-yaxis ul .chart-yaxis-marker .mark {
  display: inline-block;
  vertical-align: bottom;
  height: 1px;
  width: 10px;
  background-color: black;
}
.bland-chart .chart-xaxis ul {
  box-shadow: 0 -1px 0 0 #000000;
  position: relative;
  height: 2em;
  margin: 0;
  line-height: 2em;
  list-style-type: none;
}
.bland-chart .chart-xaxis ul .mark {
  padding: 0 3px;
  position: absolute;
  box-shadow: inset 1px 0 0 black;
}
.bland-chart .chart-xaxis ul .mark.right {
  box-shadow: inset -1px 0 0 #000000;
}
.bland-chart .chart-overviewport {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
}
.bland-chart .chart-overviewport .chart-resizer {
  position: absolute;
  left: 100%;
  top: 10px;
  width: 12px;
  height: 40px;
  padding: 5px 1px 5px 5px;
  border-radius: 0 5px 5px 0;
  background: #FFF;
  box-shadow: inset 1px 0 0 #000000, inset 0 0 0 1px rgba(0, 0, 0, 0.4), inset 0 0 10px -3px rgba(0, 0, 0, 0.6), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  cursor: col-resize;
}
.bland-chart .chart-overviewport .chart-resizer.active {
  box-shadow: inset 1px 0 0 #000000, inset 0 2px 12px -3px rgba(0, 0, 0, 0.5), 0 -1px 2px -1px rgba(0, 0, 0, 0.4);
}
.bland-chart .chart-overviewport .chart-resizer .resizer-grip {
  height: 40px;
  width: 1px;
  margin: 0 1px;
  float: left;
  background: rgba(0, 0, 0, 0.3);
}
.bland-chart .chart-viewport {
  position: relative;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.bland-chart .chart-viewport .chart-pointinfo {
  position: absolute;
  background: #FFF;
  z-index: 1;
  box-shadow: inset 0 -1px 46px -7px rgba(0, 0, 0, 0.1), 0 1px 7px -2px rgba(0, 0, 0, 0.5);
  text-shadow: 0 1px 0 white;
  letter-spacing: 0.1em;
  padding: 0 10px;
  border-radius: 5px;
}
.bland-chart .chart-viewport .chart-pointinfo h3,
.bland-chart .chart-viewport .chart-pointinfo p {
  margin: 5px 0;
}
.bland-chart .chart-viewport path.gridline {
  stroke-width: 1px;
  shape-rendering: crispEdges;
  stroke: rgba(0, 0, 0, 0.1);
}
.bland-chart .chart-viewport path.plotline {
  stroke-width: 3px;
  fill: none;
}
.bland-chart .chart-viewport path.plotline_ds {
  stroke-width: 4px;
  fill: none;
  stroke: rgba(0, 0, 0, 0.2);
}
.bland-chart .chart-viewport rect.plot-helper {
  stroke: rgba(0, 0, 0, 0);
  fill: rgba(0, 0, 0, 0);
}
.bland-chart .chart-viewport circle.plotpoint {
  fill: #FFFFFF;
  z-index: 1;
  stroke-width: 2px;
}
.bland-chart .chart-viewport circle.plotpoint:hover {
  stroke-width: 4px;
}
.bland-chart .chart-overview {
  overflow: hidden;
  box-shadow: inset 0 0 0 1px black;
}
